

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    color: #000;
    padding: 0.2em 0;
}
html {
    /*height: 100%;*/
}
body{
    margin-top: -85px;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
    background: none !important;
}

/* ANIMATIONS*/
@-webkit-keyframes bounce{
    0% {-webkit-transform: translateY(0px);}
    25% {-webkit-transform: translateY(-5px);}
    50% {-webkit-transform: translateY(0px);}
    75% {-webkit-transform: translateY(5px);}
    100% {-webkit-transform: translateY(0px);}
}
/* ANIMATIONS END */

/* NAVIGATION BAR STYLES */
.uk-navbar {
    z-index: 100;
    padding: 15px 0;
    border: none;
    background: #eeeeee;
    opacity: 0.9;
}

.uk-navbar .uk-navbar-content,
.uk-navbar .uk-navbar-brand,
.uk-navbar .uk-navbar-toggle {
    height: 40px;
    margin-top: 0;
    text-shadow: none;
}

.uk-navbar .uk-navbar-brand {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    img {
        margin-right: 6px !important;

    }
}

.uk-navbar .uk-navbar-nav > li > a {
    height: 40px;
    margin: 0;
    border: none;
    border-radius: 3px !important;
    text-shadow: none;
    font-size: 13px;
    color: #999999;
    text-transform: uppercase;
    &:hover {
        background:none !important;
        color: #333;
    }
}

.uk-navbar .uk-navbar-nav > li { margin-left: 20px; }

/* Hover */
.uk-navbar .uk-navbar-nav > li:hover > a,
.uk-navbar .uk-navbar-nav > li > a:focus,
.uk-navbar .uk-navbar-nav > li.uk-open > a {
    border: none;
    color: #666;
}

/* Active */
.uk-navbar .uk-navbar-nav > li.uk-active > a {
    /*background-color: #2BA3D4;*/
    color: #555555;
    border:1px solid #ddd;
}

/* OnClick */
.uk-navbar .uk-navbar-nav > li > a:active { background-color: transparent; }
/* NAVIGATION BAR STYLES END */


/* HERO BLOCK STYLES */
.hero-blk {
    background: url('../images/bghero.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hero-img {
    border:5px solid #eee;
    border-radius:50%;
    box-shadow: 0px 0px 2px 3px #dddddd;
}
.uk-navbar-brand .hero-img {
    box-shadow: none;
    border:1px double #ddd;
}

.hero-text {
    font-size: 30px;
    width: 100%;
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
}
.uk-vertical-align-middle {
    width:100%;
    text-align: center;
}

/* #my-job{
    font-weight: 400;
} */

.hero-btns{
    margin-bottom: 10px;
}
/* HERO BLOCK STYLES END */

/* COMMON STYLES */
hr.gradient {
    border: 0;
    height: 1px;
    background: #63C;
    background-image: -webkit-linear-gradient(left, #C9F, #63C, #C9F);
    background-image: -moz-linear-gradient(left, #C9F, #63C, #C9F);
    background-image: -ms-linear-gradient(left, #C9F, #63C, #C9F);
    background-image: -o-linear-gradient(left, #C9F, #63C, #C9F);
}

.blk-title {
     font-family: 'Droid Serif', serif;
    font-weight: 300;
    color: #eee;
    font-size: 28px;
    margin:20px;
    margin-top: 80px;
    margin-bottom: 40px;
    p {
        font-size: 15px;
    }

}
hr {
    margin:40px 0px;
    border-color: #aaaaaa;
}
/* COMMON STYLES END */

/* WORK BLOCK STYLES */
.each-work-tile {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding:15px;
    padding-top: 20px;
    color: #ddd;
    background: #333;
    margin-bottom: 40px !important;
    .cname {
        font-size: 24px;
        font-family: 'Droid Serif', serif;
        margin-bottom: 12px;
    }
    .crole {
        font-size: 13px;
        margin-bottom: 8px;
    }
    .crole-intro {
        color: #aaaaaa;
    }
}

.work-blk{
    color: #eee;
    padding:60px 0px;
    background: #3B3A35;
    .uk-overlay {
        width: 100%;
        height:160px;
    }
    .work-title{
        font-weight: 100;
        margin-bottom: 40px;
    }
}
.other-pro-title{
    margin-top: 30px;
}
/* WORK BLOCK STYLES ENDS */


/* WORK MODAL STYLES */
.proj-name {
    font-size: 18px;
    font-family: 'Droid Serif', serif;
    margin:10px 0px;
    font-weight: bold;
    color: #777777;
}
.proj-desc {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #555;
}
.img-wrap {
    padding:4px;
    border:1px solid #ddd;
    img {
        border:1px solid #eeeeee;
    }
}

.skill-cont {
    margin: 15px 0px;
    span {
        background-color: #eeeeee;
        display: inline-block;
        padding:4px 8px;
        border:1px solid #ccc;
        border-radius: 3px;
        font-size: 13px;
        font-weight: 600;
        color: #666;
        margin-right: 4px;
        margin-bottom: 10px;
    }
}

.build-text{
    margin-bottom: 15px;
    font-size: 16px;
    a{
        color: #ccc;
        text-decoration: none;
    }
}
.project-det {
    padding:40px 20px;
    .uk-grid {
        margin-left: 0px;
        margin-bottom: 30px;
        border-bottom: 1px dashed #ccc;
        padding-bottom: 30px;
    }
}

.image-thumbs{
    img{
        width: 110px;
        height: 90px;
        float: left;
        border: 2px solid #ccc;
        margin-right: 3px;
    }
}
/* WORK MODAL STYLES END */

/* ABOUT BLOCK STYLES */
.about-blk{
    background: #cdd9df;
    padding:60px 0px;
    color: #5D5453;
    .blk-title {
        color: inherit;
    }
}
.about-desc {
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    font-weight: 400;
    strong {
        font-family: 'Droid Serif', serif;
    }
    p {
        margin-bottom: 30px;
    }
}

.about-tag{
    border: 1px dotted #000;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    border-left: 0;
    border-right: 0;
    .small-circle{
        display: inline-block;
        width: 5px;
        height: 5px;
        background: #000;
        border-radius: 50%;
        vertical-align: middle;
        margin: 0px 10px;
    }
}
/* ABOUT BLOCK STYLES END */


/* FOOTER STYLES */
.footer {
    min-height: 60px;
    padding: 20px;
    background: #3B3A35;
    color: #bbb;
    .footer-links{
        padding: 15px 0px;
        a{
            font-size: 20px;
            margin: 10px;
            color:#ddd;
            font-weight: 400;
            text-decoration: none;
        }
        .uk-icon-star{
            font-size: 11px;
        }
    }
    .uk-icon-heart{
        margin-left: 2px;
    }
}
/* FOOTER STYLES END */


/* CONTACT ME BLOCK STYLES */
.contact-blk{
    padding:60px 0px;
    background: #3B3A35;
    min-height: 500px;
    text-align: center;
    h1{
        font-weight: 100;
        background: #C3FDB8;
    }
}

.social-btns {
    a {
        font-size: 30px;
        color:#ccc;
        border:1px solid #ddd;
        min-width: 90px;
        display: inline-block;
        padding:24px 18px;
        margin:10px;
    }
    a:hover {
        color: #00A8E5;
    }
}
/* CONTACT ME BLOCK ENDS */

/* DOWNLOADS BLOCK */
.downloads-blk {
    background: #cdd9df;
    padding:60px 0px;
    padding-bottom: 100px;
    color: #5D5453;
    .blk-title {
        color: inherit;
    }
}
.dwnld-btns {
    text-align: center;
    .uk-button {
        min-height: 40px;
        padding: 15px 40px;
        line-height: 38px;
        font-size: 26px;
        border-radius: 5px;
        margin-right: 20px;
        margin-bottom: 15px;
    }
}
.contact-text{
    margin-top: 20px;
    font-size: 20px;
    color:#fff;
}
/* DOWNLOAD BLOCK ENDS */


/* CARDS BLOCK */
.card-blk{
    background-color:#cdd9df;
    /*color: #333;*/
    padding: 50px 0px;
    padding-bottom: 170px;
    .blk-title{
        color: #5D5453;
    }
}

/* Flip Card Animation */
/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
    /*padding:10px;*/
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);

}

.flip-container, .front, .back {
    border-radius: 3px;
    color: #333;
    /*width: 260px;*/
    height: 400px;
    margin-bottom: 20px !important;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    background-color: #fff;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    color: #333;
    i{
        font-size: 38px;
        margin-top: 10px;
        color: #428bca;
    }
}

/* front pane, placed above back */
.front {
    z-index: 2;
}

/* back, initially hidden pane */
/*.back {
    transform: rotateY(180deg);
}*/

.front{
    text-align: center;
    width: 100%;
    padding:15px;
    border:1px solid #cccccc;
    border-radius: 4px;
    /*margin:10px;*/
    h3{
        font-weight: 200;
    }
    .the-top {
        border:1px solid #5D5453;
        border-radius: 4px;

    }

}
.back{
    text-align: left;
    width: 100%;
    line-height: 170%;
    font-size: 16px;
    padding: 15px 15px;
    line-height: 170%;
    border:1px solid #cccccc;
    color: #5D5453 !important;

    .the-top {
        padding:15px;
    border:1px solid #cccccc;
        border-radius: 4px;
        text-align: center;
        div {
            font-size: 19px;
            font-weight: 400;
            line-height: 180%;
        }
        span {
            font-size: 15px;
            font-weight: 200;
            line-height: 1px !important;
        }
    }
}

.card-content {
    margin-top: 90px;
    .card-title {
        font-family: 'Droid Serif', serif;
        font-size: 22px;
        text-align: center;
        i {
            font-size: 60px;
            width: 120px;
            height:120px;
            padding-top: 30px;
            border:1px solid #5D5453;
            border-radius: 50%;
            margin-bottom: 15px;
            color: #5D5453;
        }
        /*img {
            display: block;
            width:80px;
        }*/
    }
}
.each-card  {
    margin-bottom: 80px;
}
.card-icons{
    font-size: 3em;
}
/* CARDS BLOCK ENDS */


/* MEDIA QUERIES */
@media (max-width:900px){
     .dwnld-btns .uk-button {
        min-height: 25px;
        padding: 15px 25px;
        line-height: 20px;
        font-size: 25px;
        border-radius: 5px;
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    .social-btns a{
        padding: 8px 15px;
        font-size: 26px;
        margin: 5px;
        min-width: 71px;
        margin-bottom: 10px;
    }
    .footer .footer-links a {
        font-size: 15px;
    }
    .dwnld-btns .uk-button {
        min-height: 25px;
        padding: 10px 20px;
        line-height: 20px;
        font-size: 15px;
        border-radius: 5px;
        margin-right: 10px;
    }
    .proj-name{
        font-size: 15px;
    }
    .proj-desc{
        font-size: 13px;
        line-height: 20px;
    }
    .skill-count{
        span{
            font-size: 11px;
            padding: 4px 6px;
        }
    }
    .card-blk, .about-blk, .work-blk, .downloads-blk, .contact-blk{
        padding-top: 30px;
    }
}

@media (max-width:550px){
    .image-thumbs img{
        height: 60px;
        width: 65px;
        margin-bottom: 10px;
    }
    .the-top {
        div {
            font-size: 17px !important;
            font-weight: 400 !important;
            line-height: 150% !important;
        }
        span {
            font-size: 13px !important;
            font-weight: 200 !important;
            line-height: 1px !important;
        }
    }
}
/* MEDIA QUERIES END */

/* Wrapper */
.animate-wrap {
    position: relative;
   /* width: 220px;*/ height: 330px;
    background-color: transparent;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
    margin-top: 20px;
}

/* Inputs */
.animate-wrap input {
    display: none;
}
.animate-wrap [type="radio"]:checked + .animate {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* Image-Wrapper */
.animate {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

/* Labels */
label {
    position: absolute; top: 0; left: 0; z-index: 2;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: 200 !important;
}

.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.front {
    z-index: 1;
}