

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    /*background: #ccc;*/
    color: #000;
    padding: 0.2em 0;
}
html {
    
    /*height: 100%;*/
}
body{
    margin-top: -85px;
    /*font-family: 'Roboto', sans-serif;*/
    /*padding-top: 60px;*/
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
    background: none !important;
}

@-webkit-keyframes bounce{
    0% {-webkit-transform: translateY(0px);}
    25% {-webkit-transform: translateY(-5px);}
    50% {-webkit-transform: translateY(0px);}
    75% {-webkit-transform: translateY(5px);}
    100% {-webkit-transform: translateY(0px);}
}


.uk-navbar {
    z-index: 100;
    padding: 15px 0;
    border: none;
    background: #eeeeee;
    opacity: 0.9;
}

.uk-navbar .uk-navbar-content,
.uk-navbar .uk-navbar-brand,
.uk-navbar .uk-navbar-toggle {
    height: 40px;
    margin-top: 0;
    text-shadow: none;
}

.uk-navbar .uk-navbar-brand {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    img {
        margin-right: 6px !important;

    }
}

.uk-modal-dialog-large {
    /*width: 100%;*/
}
.uk-navbar .uk-navbar-nav > li > a {
    height: 40px;
    margin: 0;
    border: none;
    border-radius: 3px !important;
    text-shadow: none;
    font-size: 13px;
    color: #999999;
    text-transform: uppercase;
    &:hover {
        background:none !important;
        color: #333;
    }
}

.uk-navbar .uk-navbar-nav > li { margin-left: 20px; }

/* Hover */
.uk-navbar .uk-navbar-nav > li:hover > a,
.uk-navbar .uk-navbar-nav > li > a:focus,
.uk-navbar .uk-navbar-nav > li.uk-open > a {
    border: none;
    color: #666;
}

/* Active */
.uk-navbar .uk-navbar-nav > li.uk-active > a {
    /*background-color: #2BA3D4;*/
    color: #555555;
    border:1px solid #ddd;
}

/* OnClick */
.uk-navbar .uk-navbar-nav > li > a:active { background-color: transparent; }


.hero-blk {
    /*padding-top: 85px;*/
    background: url('../images/bghero.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hero-img {
    border:5px solid #eee;
    border-radius:50%;
    box-shadow: 0px 0px 2px 3px #dddddd;
}
.uk-navbar-brand .hero-img {
    box-shadow: none;
    border:1px double #ddd;
}

.hero-text {
    font-size: 30px;
    width: 100%;
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
}
.uk-vertical-align-middle {
    width:100%;
    text-align: center;
}
.my-name{
    font-size: 30px;
    /*line-height: 5px;*/
    font-weight: 200;
    color: #777;
    text-decoration: none !important;
    cursor: pointer;
    &:hover{
        color: #E3648F !important;
    }
}
/*.navbar{
    box-shadow:0px 1px 10px #CCC;
}*/


.introduction-blk{
    /*background: url('../images/nature.jpg') no-repeat;*/
    background-size: 100% 100%;
    text-align: center;
    padding: 200px 0px;
    .intro-text{
        color: #333;
        font-weight: 200;
        margin: auto;
        z-index: 9999;
        font-size: 60px;
        margin-bottom: 30px;
    }
     .intro-arrow{
        border-radius: 50%;
        margin: auto;
        height: 50px;
        width: 50px;
        border: 1px solid #000;
        a{
            color: #000!important;
        }
        .glyphicon-chevron-down{
            margin-top: 14px;
            animation:bounce 2s linear infinite;
            font-size: 20px;
        }
    }   
}

.dwnld-btns {
    text-align: center;
    .uk-button {
        min-height: 40px;
        padding: 15px 40px;
        line-height: 38px;
        font-size: 26px;
        border-radius: 5px;
        margin-right: 20px;
        margin-bottom: 15px;
    }
}

hr.gradient {
    border: 0;
    height: 1px;
    background: #63C;
    background-image: -webkit-linear-gradient(left, #C9F, #63C, #C9F);
    background-image: -moz-linear-gradient(left, #C9F, #63C, #C9F);
    background-image: -ms-linear-gradient(left, #C9F, #63C, #C9F);
    background-image: -o-linear-gradient(left, #C9F, #63C, #C9F);
}

.blk-title {
     font-family: 'Droid Serif', serif;
    font-weight: 300;
    color: #eee;
    font-size: 28px;
    margin:20px;
    margin-top: 80px;
    margin-bottom: 40px;
    /*border-bottom: 1px solid #ffffff;*/
    p {
        font-size: 14px;
    }
   
}
hr {
    margin:40px 0px;
    border-color: #aaaaaa;
}
/* WORK */

.each-work-tile {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    /*position: absolute;*/
    /*z-index: 400;*/
    padding:15px;
    padding-top: 20px;
    /*min-height: 200px;*/
    color: #ddd;
    background: #333;
    margin-bottom: 40px !important;
    .cname {
        font-size: 24px;
        
        font-family: 'Droid Serif', serif;
        margin-bottom: 12px;
    }
    .crole {
        /*font-style: italic;*/
        font-size: 13px;
        margin-bottom: 8px;
    }
    .crole-intro {
        color: #aaaaaa;
    }
}

.work-blk{
    color: #eee;
    padding:60px 0px;
    background: #3B3A35;
    .uk-overlay {
        width: 100%;
        height:160px;
    }
    .work-title{
        font-weight: 100;
        margin-bottom: 40px;
    }
}

/* WORK ENDS */
.social-btns {
    a {
        font-size: 30px;
        color:#ccc;
        border:1px solid #ddd;
        min-width: 90px;
        display: inline-block;
        padding:24px 18px;
        margin:10px;
    }
    a:hover {
        color: #00A8E5;
    }
}

.proj-name {
    font-size: 18px;
    font-family: 'Droid Serif', serif;
    margin:10px 0px;
    font-weight: bold;
    color: #777777;

}
.proj-desc {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #555;

}
.img-wrap {
    padding:4px;
    border:1px solid #ddd;
    img {
        border:1px solid #eeeeee;
    }
}

.skill-cont {
    margin: 15px 0px;
    span {
        background-color: #eeeeee;
        display: inline-block;
        padding:4px 8px;
        border:1px solid #ccc;
        border-radius: 3px;
        font-size: 13px;
        font-weight: 600;
        color: #666;
        margin-right: 4px;
        margin-bottom: 10px;
    }
}
/* ABOUT BLOCK */
.about-blk{
    background: #FAC5C0;
    padding:60px 0px;
    .blk-title {
        color: #333;
    }
    /*h1{
        text-align: center;
        font-weight: 100;
        margin-bottom: 20px;
    }
    .description{
        font-size: 18px;
        margin-top: 30px;
        font-weight: 200;
    }*/
}
.footer {
    min-height: 60px;
    padding: 20px;
    background: #3B3A35;
    color: #bbb;
    .footer-links{
        padding: 15px 0px;
        a{
            font-size: 20px;
            margin: 10px;
            color:#ddd;
            font-weight: 400;
            text-decoration: none;
        }
        .uk-icon-star{
            font-size: 11px;
        }
    }
}
.about-desc {
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    strong {
        font-family: 'Droid Serif', serif;
    }
    p {
        margin-bottom: 30px;
    }
}

.about-tag{
    border: 1px dotted #000;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    border-left: 0;
    border-right: 0;
    .small-circle{
        display: inline-block;
        width: 5px;
        height: 5px;
        background: #000;
        border-radius: 50%;
        vertical-align: middle;
        margin: 0px 10px;
    }
}


/*.skill-blk{
    margin-top: 40px;
    .skills{
        border-radius: 50%;
        display: inline-block;
        height: 140px;
        width: 140px;
        margin: auto;
        margin-top: 30px;
        .per-skill{
            border-radius: 50%;
            height: 140px;
            width: 140px;
            background: #7ABDDE;
            font-size: 25px;
            padding-top: 45px;
            color: #fff;
            font-weight: 300;
            text-align: center;
            position: absolute;
            transition: 2s all;
            transform-origin: center 50px;
        }
        &:hover .per-skill.first{
            transform: translate(0px,135px);
        }

        &:hover .per-skill.second{
            transform: translate(0px,-135px);
        }
        
         &:hover .per-skill.third{
            transform: translate(135px,0px);
        }

        &:hover .per-skill.fourth{
            transform: translate(-135px,0px);
        }
    }
}*/

.contact-blk{
    padding:60px 0px;
    background: #3B3A35;
    min-height: 500px;
    text-align: center;
    h1{
        font-weight: 100;
        background: #C3FDB8;
    }
}

.downloads-blk {
    background: #e5e3d7;
    padding:60px 0px;
    padding-bottom: 100px;
    .blk-title {
        color: #333;
        p{
            font-size: 16px;
        }
    }
}

.my-pictures{
    margin-top: 50px;
    img{
        width: 200px;
        height: 200px;
        border: 3px solid #fff;
    }
    .img1, .img3, .img5{
        transform: rotate(-10deg);
    }
}

.project-det {
    padding:40px 20px;
    .uk-grid {
        margin-left: 0px;
        margin-bottom: 30px;
        border-bottom: 1px dashed #ccc;
        padding-bottom: 30px;
    }
}




.build-text{
    margin-bottom: 15px;
    font-size: 16px;
}
.contact-text{
    margin-top: 20px;
    font-size: 20px;
    color:#fff;
}

.image-thumbs{
    img{
        width: 110px;
        height: 90px;
        float: left;
        border: 2px solid #ccc;
        margin-right: 3px;
    }
}

.other-pro-title{
    margin-top: 30px;
}

.card-blk{
    background-color:#eaeaea;
    color: #333;
    padding: 100px 0px;
    .blk-title{
        color: inherit;
    }
}


/* Flip Card Animation */

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
}
    /* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);

}

/*.flip{
    transform: rotateY(180deg);
    transition: 0.6s;
}*/

.flip-container, .front, .back {
    border-radius: 3px;
    color: #fff;
    /*width: 260px;*/
    height: 360px;
    margin-bottom: 20px !important;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    background-color: #8bacbd;
   /* position: absolute;
    top: 0;
    left: 0;*/
}

/* front pane, placed above back */
.front {
    z-index: 2;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.front{
    text-align: center;
   /* padding-top: 50%;
    padding-left: 10px;
    padding-right: 10px;*/
    h3{
        font-weight: 200;
    }
}
.back{
    text-align: left;
    font-size: 18px;
    /*padding: 15px 15px;*/
    line-height: 170%;
    margin-top: -380px;
}
#my-job{
    font-weight: 400;
}

.card-icons{
    font-size: 3em;
}

/* MEDIA QUERIES */

@media (max-width:900px){
     .dwnld-btns .uk-button {
        min-height: 25px;
        padding: 15px 25px;
        line-height: 20px;
        font-size: 25px;
        border-radius: 5px;
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    .social-btns a{
        padding: 8px 15px;
        font-size: 26px;
        margin: 5px;
        min-width: 71px;
        margin-bottom: 10px;
    }
    .footer .footer-links a {
        font-size: 15px;
    }
    .dwnld-btns .uk-button {
        min-height: 25px;
        padding: 10px 20px;
        line-height: 20px;
        font-size: 15px;
        border-radius: 5px;
        margin-right: 10px;
    }
    .proj-name{
        font-size: 15px;
    }
    .proj-desc{
        font-size: 13px;
        line-height: 20px;
    }
    .skill-count{
        span{
            font-size: 11px;
            padding: 4px 6px;
        }
    }
}

@media (max-width:550px){
    .image-thumbs img{
        height: 60px;
        width: 65px;
        margin-bottom: 10px;
    }
}
